{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<section class="box">
									<h3>Información de plantilla
									</h3>

								
									<br>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Jugador</th>
													<th>Rut</th>
													<th>Edad</th>
													<th>Telefono</th>
													<th>Correo</th>
													<th>Capitan</th>
												</tr>
											</thead>
											<tbody>
												
												<tr>
													<td>{{	player.name }}</td>
													<td>{{	player.rut }} </td>
													<td>{{  player.edad  }} </td>
													<td>{{  player.phone  }}</td>
													<td>{{  player.user.email }}</td>
													<td>{{  player.captain }}</td>
												</tr>
												
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													
												</tr>
											</tfoot>
										</table>
									</div>
									</section>

{% endblock %}